# Build Folders
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
.nuget/

# Mac
.DS_Store

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/

# Logs
*.log

# Entity Framework migrations
[Mm]igrations/

# Database
*.mdf
*.ldf
*.sqlite

# Azure Functions
.local.settings.json

# Optional: Coverage reports
TestResults/
coverage/

